<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Presentasjonsside for Jan Nazar Havdal, elev i 2INF.">
    <meta name="csrf" content="{{ csrf_token() }}">
    <title>{% block tittel %}Jan Nazar Havdal{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="ark">

        <header>
            <h1>{% block overskrift %}Jan Nazar Havdal{% endblock %}</h1>
            {% block stempel %}{% include 'topp.html' %}{% endblock %}
        </header>

        {% block innhold %}{% endblock %}

    </div>

    {% block bunn %}{% endblock %}

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>
